---
import '@/styles/base.css';
import { Center } from '@/utils';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta
			name='viewport'
			content='width=device-width, height=device-height, initial-scale=1.0'
		/>
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<body class='h-screen overflow-clip bg-zinc-100'>
		<Center axis='x'>
			<div class={`
				mb-0 mt-2 p-5
				min-w-96 w-[calc(100%-1rem)] max-w-screen-2xl
				border border-b-0 border-black
				bg-white
			`}>
				<div>
					<span class='mb-2 font-mono text-2xl font-bold'>
						0800-8951 KRISTOPHER JAMES KENT
					</span>
					<h2 class='font-mono text-2xl italic'>OCCUPATION: GUN FOR HIRE</h2>
				</div>
			</div>
		</Center>
	</body>
</html>
