@import url('fonts.css');

@keyframes krz {
	0% {
		background-position: 80% 80%;
	}

	100% {
		background-position: 0% 0%;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
		scale: 1;
	}

	100% {
		opacity: 0;
		scale: 0.5;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-fg bg-bg font-serif;
	}

	h1 {
		@apply text-yellow mb-10 text-2xl md:text-4xl font-bold font-mono tracking-wider italic;
	}

	h2 {
		@apply mb-4 font-bold underline tracking-wider underline-offset-4 decoration-2 decoration-double;
	}

	h3 {
		@apply mb-1 text-base underline;
	}

	p {
		@apply mb-4;
	}
}

@layer utilities {
	.krz {
		@apply bg-[url('/assets/home/clouds.webp')] 
			bg-[image-set(url('/assets/home/clouds.avif')_type('image/avif'),_url('/assets/home/clouds.webp')_type('image/webp'))]
			bg-center bg-no-repeat bg-clip-text
			font-serif text-yellow/0
			animate-[krz_50s_linear_infinite];
	}
	.fadeout {
		@apply select-none animate-[fadeout_4s_ease-in_1];
	}
}
