---
import { Center, GhostPage } from '@/components';
import { Base } from '@/layouts';
---

<Base title='404: Page not found'>
	<Center axis='xy' className='flex max-w-xl flex-col'>
    <div class="grid grid-cols-4 grid-rows-4 gap-4">
      <div class="col-span-2 row-span-3 col-start-2 row-start-2">
        <picture>
          <source srcset="/media/404/vega.webp" type="image/webp">
          <img
            src='/media/404/vega.gif'
            alt='Vincent Vega from Pulp Fuction looking around confused.'
          />
        </picture>
      </div>
      <div class="col-start-1 row-start-3"><GhostPage seq={1} /></div>
      <div class="col-start-2 row-start-1"><GhostPage seq={2} /></div>
      <div class="col-start-4 row-start-2"><GhostPage seq={3} /></div>
    </div>
		
		<h1 class='text-center text-4xl font-bold'>404: Page not found</h1>
		<p class='text-center text-lg'>
			If you're reading this, something has well and truly <b>ballsed up</b>.
			Rest assured, I am either on the case, or have zero idea anything is
			wrong.
		</p>
	</Center>
</Base>
