---

---

<body>
	<h1>Kristopher James Kent</h1>

	<h3 class='inline'>tldr</h3>
	<span class='inline text-lg italic'>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, deserunt.
		Dolore quam culpa qui neque maxime nihilo bcaecati. A commodi, excepturi
		sint molestiae maiore minima iste fugit reiciendis quis labore!
	</span>

	<h2>Bio</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nisi sunt
		ducimus fugit aperia doloribus reprehenderit cupiditate consectetur dolores
		ullam debitis, optio odit iste qui est animi neque, eaque illum?
	</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora amet nobis
		laudantium, veritatis dolorum cumque quia atque quam totam, libero, eum quas
		mollitia eaque quasi! Dolore nesciunt quam in error? Lorem ipsum dolor sit
		amet, consectetur adipisicing elit. Quo suscipit minus cumque consequuntur
		aliquam voluptatum ex et earum, quisquam quia veritatis amet! Tempora,
		voluptatibus undeeveniet cupiditate error quas blanditiis!
	</p>

	<h2>Contact</h2>
	<ul>
		<li>K: github.com/kjkent.pgp</li>
		<li>@: kris@kjkent.dev</li>
		<li>G: github.com/kjkent</li>
		<li>M: kjkent:something.hmm</li>
		<li>K: kjkent.keybase.io</li>
	</ul>
</body>
