---
import { Base } from '@/layouts';
import { ExtLinks, ProfilePic } from '@/components';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<body>
		<Base>
			<div class='center-flex flex-col'>
				<!-- Content -->
				<main class='flex gap-8'>
					<!-- LHS panel -->
					<main class='flex max-w-sm flex-col justify-between'>
						<h1 class='height-fit mb-0 mt-8 text-right'>
							<span class='mr-16 block'>Kristopher</span>
							<span class='mr-8 block'>James</span>
							<span class='mr-0 block'>Kent</span>
						</h1>

						<section>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
								tempora voluptatum neque, sit a, excepturi delectus consequuntur
								et autem, expedita nam. Reiciendis fugit vitae ducimus dolor,
								quasi tempora eligendi delectus!
							</p>
							<p>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
								laborum voluptatum facere fuga ratione debitis est unde, nostrum
								odit autem, velit odio doloremque inventore. Mollitia quis
								inventore quaerat modi unde.
							</p>
						</section>

						<nav class='flex justify-evenly'>
							<span>NAV</span>
							<span>NAV</span>
							<span>NAV</span>
						</nav>
					</main>
					<!-- /LHS panel -->

					<!-- RHS panel -->
					<div class='flex flex-col justify-between'>
						<ProfilePic
							image='braille'
							className='hidden max-w-sm select-none md:mb-1 md:mr-1 md:block'
						/>
						<ExtLinks className='span justify-end self-start' />
					</div>
					<!-- /RHS panel -->
				</main>
			</div>
		</Base>
	</body>
</html>
