---
import '@/styles/base.css';
import { Base } from '@/layouts';
import { Article, LatestPost, Box, Header } from '@/components';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<body>
		<Base>
			<Header />
			<main class='grid grid-cols-4 gap-4'>
				<Box className='col-span-1'>
					<nav>
						<h2>CONTENTS</h2>
						<ul class='list-inside list-disc'>
							<li>HOME</li>
							<li>POSTS</li>
						</ul>
					</nav>
				</Box>

				<Box className='col-span-3'>
					<LatestPost />
				</Box>

				<Box className='col-span-4'>
					<Article> Unga bunga </Article>
				</Box>
			</main>
		</Base>
	</body>
</html>
