---
import { Base } from '@/layouts';
import { Center, ExtLinks, Link, ProfilePic } from '@/components';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<Base>
		<!-- Content centering -->
		<Center axis='xy' className='flex h-fit'>
			<!-- LHS panel -->
			<div class='flex max-w-sm flex-col justify-normal gap-y-8'>
				<h1
					class='krz z-10 -mr-44 mt-auto w-fit self-center bg-clip-text text-right font-mono text-6xl'>
					<span class='mr-16 block'>Kristopher</span>
					<span class='mr-8 block'>James</span>
					<span class='mr-0 block'>Kent</span>
				</h1>

				<p class='font-serif text-lg'>
					Junior software engineer with a background in medical and
					pharmacological science, science publishing, and crisis healthcare.
				</p>

				<nav class='flex justify-evenly font-mono font-bold'>
					<Link href='/about'>ABOUT</Link>
					<Link href='/posts'>POSTS</Link>
					<Link href='/contact'>CONTACT</Link>
				</nav>
			</div>
			<!-- /LHS panel -->
			<!-- RHS panel -->
			<div class='flex max-w-sm flex-col'>
				<ProfilePic
					image='braille'
					className='hidden max-w-sm select-none md:mb-1 md:mr-1 md:block'
				/>
				<ExtLinks />
			</div>
			<!-- /RHS panel -->
		</Center>
		<!-- /Content centering -->
	</Base>
</html>
