---
import { Base } from '@/layouts';
import { ExtLinks, ProfilePic } from '@/components';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<body>
		<Base>
			<div class='flex h-full content-center items-center justify-center'>
				<div class='grid grid-cols-2 grid-rows-5 gap-x-4 gap-y-1'>
					<h1 class='row-span-2 mb-0 mt-auto text-right'>
						<span class='mr-10'>Kristopher<br /></span>
						<span class='mr-5'>James<br /></span>
						<span class='mr-0'>Kent</span>
					</h1>
					<p class='col-start-1 row-span-3 row-start-3 my-auto'>
						I'm a software developer, writer, healthcare worker, etc.
					</p>
					<div class='col-start-2 row-span-4 row-start-1 max-w-sm'>
						<ProfilePic image='braille' className='w-full' />
					</div>
					<div class='col-start-2 row-start-5'>
						<ExtLinks />
					</div>
				</div>
			</div>
		</Base>
	</body>
</html>
