---
import { Base } from '@/layouts';
import { ExtLinks, ProfilePic } from '@/components';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta
			name='description'
			content='The personal website of Kristopher James Kent'
		/>
		<title>kjkent</title>
	</head>
	<body>
		<Base>
			<div
				class='flex justify-between bg-[url("/assets/head_diag.svg")] md:h-full md:w-full md:items-center md:justify-center md:bg-none md:p-8'>
				<div>
					<h1 class='text-4xl'>Kristopher James<br />Kent</h1>
					<p>I'm a software developer, writer, healthcare worker, etc.</p>
				</div>
				<div>
					<ProfilePic image='braille' className='max-w-sm' />
					<ExtLinks className='flex justify-end text-right' />
				</div>
			</div>
		</Base>
	</body>
</html>
