<h2 class='mb-2 font-bold underline'>POST HISTORY</h2>
					<table class='w-full border-collapse'>
						<thead>
							<tr>
								<th scope='col' class='font-bold underline'>b</th>
							</tr>
						</thead>
						<tbody>
							<tr class='border-b border-black'>
								<td class='pr-2 font-bold'>LANGUAGES:</td>
								<td>C, Python, {`JS/TS(X)`}, Bash/zsh, SQL</td>
							</tr>
							<tr class='border-b border-black'>
								<td class='pr-2 font-bold'>FRAMEWORKS:</td>
								<td>React, Apollo, Express</td>
							</tr>
							<tr>
								<td class='pr-2 font-bold'>INFRASTRUCTURE:</td>
								<td>Linux, Networking, AWS, Docker, Azure
									<span class='text-xs text-zinc-100'>
										please don't make me work on Azure again
									</span>
								</td>
							</tr>
						</tbody>
					</table>